@import "reboot.css";

body {
    background-color: #723cd5;
    color: #fff;
}

main {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;    
}

#dev {
    font-size: 40px;
}

#counter {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#counter-day, #counter-hour, #counter-minute, #counter-second, .counter-separator {
    font-size: 80px;
    font-weight: bold;
}

#welcome {
    font-size: 25px;
}

#title {
    font-size: 50px;
    font-weight: bold;
}

#counter, #welcome, #title, #text, #buttons, #social-media {
    margin: 30px 0;
}

#btn-more, #btn-notify {
    color: #fff;
    background-color: #723cd5;
    border: 1px solid #fff;
    padding: 5px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    font-weight: bold;
}

#btn-notify {
    background-color: #00f;
    border:0;
}

#social-media svg {
    margin: 10px;
}